<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="gp-translation-helpers">
			<directory prefix="test_" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<server name="REMOTE_ADDR" value="127.0.0.1"/>
		<server name="HTTP_USER_AGENT" value="test"/>
	</php>
</phpunit>
